@font-face {
  font-family: "Pokemon GB";
  src: url("../fonts/Pokemon_GB.eot") format("eot"),
    url("../fonts/Pokemon_GB.woff") format("woff"),
    url("../fonts/Pokemon_GB.ttf") format("truetype"),
    url("../fonts/Pokemon_GB.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.game-font {
  font-family: "Pokemon GB", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
.flexbox-turn-on {
  display: flex;
}
#continue-btn {
  background-color: transparent;
  box-shadow: none;
  align-self: flex-end;
}

#close-btn {
  background-color: transparent;
  box-shadow: none;
  align-self: flex-end;
  color: black;
}

.buttons {
  width: 20px;
}

.btn-pop {
  position: relative;
  right: 6%;
  top: 9%;
}

#trainer {
  width: 30%;
  position: absolute;
  top: 35%;
  right: -7%;
  align-self: flex-end;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center; /* Align vertically */
  height: 100%;
  width: 95%;
}
#animated-text {
  width: 70vw;
}
#game {
  justify-content: center;
}
#landing {
  width: auto;
  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  text-wrap: wrap;
  margin: auto;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}
.deck {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: max-content;
}
.played-card {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.current-card {
  width: 44%;
}
.deck-stack {
  position: relative;
}
.card-children {
  position: absolute;
}
.poke-deck {
  width: 75%;
}

.poke-deck:nth-child(2) {
  top: 6px;
  left: 6px;
}

.poke-deck:nth-child(3) {
  top: 12px;
  left: 12px;
}

.poke-deck:nth-child(4) {
  top: 18px;
  left: 18px;
}

.player-deck {
  width: 30%;
}
.player-box {
  align-items: center;
}

.player-card {
  width: 30%;
}
#right-deck {
  left: 10%;
}

/* ============================================================ *\
*      Media Queries (Alphabetical by screen size break          *
\* -----------------------------------------------------------  */

/* ----------       Mobile Devices <= 600px S       ------------ */

@media only screen and (max-width: 599px) {
  #column {
    flex-direction: column;
  }
  #landing {
    margin: auto;
    flex-direction: column;
  }
  #trainer-div {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  #trainer {
    width: 60%;
  }
}

/* ----------       Tablet Devices > 600px M      ------------- */

@media only screen and (max-width: 600px) {
}

/* ----------       Desktop Devices > 992px L     ------------- */

@media only screen and (max-width: 992px) {
  #game {
    flex-direction: column;
    margin-top: 18%;
  }
  .row .col.s5 {
    margin: auto !important;
    width: 65% !important;
  }
}

/* ------       Large Desktop Devices > 1200px  XL      ------ */

@media only screen and (max-width: 1200px) {
}
